@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
.primaryBtn, .secondaryBtn {
  padding: 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: 'Rubik';
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: #252b46;
}

p {
  line-height: 1.6;
  color: #9194a1;
}

.primaryBtn {
  background: #5368df;
  color: #fff;
  font-weight: 600;
  border: 2px solid transparent;
}

.primaryBtn:hover {
  background: none;
  color: #5368df;
  border: 2px solid #5368df;
  -moz-outline-radius: 5px;
}

.secondaryBtn {
  background: #eeeff1;
  color: #252b46;
  font-weight: 600;
  -webkit-box-shadow: inset 0px 0 10px rgba(128, 128, 128, 0.157), 0 5px 10px -2px rgba(128, 128, 128, 0.15);
          box-shadow: inset 0px 0 10px rgba(128, 128, 128, 0.157), 0 5px 10px -2px rgba(128, 128, 128, 0.15);
}

.secondaryBtn:hover {
  background: none;
  color: #252b46;
  border: 2px solid #9194a1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toggle_show {
  display: block !important;
}

.overflow {
  overflow: hidden;
}

.logo_image-change {
  fill: rgba(37, 43, 70, 0.897);
}

img {
  width: 100%;
}

.hero__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0 4em;
}

.hero__nav .logo {
  z-index: 1000;
}

.hero__nav .logo_img_white {
  fill-rule: #fff !important;
  fill: #fff !important;
}

.hero__nav .header__nav__list {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(37, 43, 70, 0.897);
  width: 100vw;
  height: 100vh;
  display: none;
}

.hero__nav .header__nav__list .nav__list {
  width: 80%;
  margin: 10em auto 0;
}

.hero__nav .header__nav__list .nav__list li {
  list-style-type: none;
  text-align: center;
  letter-spacing: 2px;
}

.hero__nav .header__nav__list .nav__list li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.hero__nav .header__nav__list .nav__list li {
  padding: 1.3em;
  border-top: 1px solid #9194a1;
}

.hero__nav .header__nav__list .nav__list li:nth-child(3) {
  border-bottom: 1px solid #9194a1;
}

.hero__nav .header__nav__list .nav__list a:hover {
  color: #fa5757;
}

.hero__nav .header__nav__list .nav__list .login-btn {
  margin-top: 1.5em;
  width: 100%;
  border: 3px solid #fff;
  padding: 1em;
  border-radius: 6px;
}

.hero__nav .header__nav__list .nav__list .login-btn a {
  color: #fff;
}

.hero__nav .header__nav__list .nav__list .login-btn:hover {
  background: transparent;
  border: 3px solid #fa5757;
}

.hero__nav .header__nav__list .nav__list .login-btn:hover a {
  color: #fa5757;
}

.hero__nav .header__nav__list .nav__list .social__nav {
  margin: 20vmax auto;
  text-align: center;
}

.hero__nav .header__nav__list .nav__list .social__nav img {
  width: 30px;
}

.hero__nav .header__nav__list .nav__list .social__nav img + img {
  margin-left: 40px;
}

.hero__nav .ham {
  cursor: pointer;
  z-index: 1000;
}

.hero__nav .ham span {
  display: block;
  width: 20px;
  height: 3px;
  background: #000;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.hero__nav .ham span + span {
  margin-top: 3px;
}

.hero__nav .change .ham1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 2px);
          transform: rotate(-45deg) translate(-3px, 2px);
  background: #fff;
}

.hero__nav .change .ham2 {
  opacity: 0 !important;
  background: #fff;
}

.hero__nav .change .ham3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
          transform: rotate(45deg) translate(-6px, -6px);
  background: #fff;
}

.hero__image {
  position: relative;
  z-index: -1;
}

.hero__image img {
  max-width: 450px;
}

.hero__image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100px;
  width: 80vw;
  height: 80%;
  background: #5368df;
  border-radius: 6em 0 0 6em;
  max-height: 400px;
  z-index: -1000;
}

.hero__content {
  text-align: center;
}

.hero__content h1 {
  margin-top: 1rem;
}

.hero__content p {
  margin: 2em 0;
}

main {
  text-align: center;
}

.features {
  margin: 3em 0;
}

.features__hero p {
  margin: 1em auto;
  max-width: 490px;
}

.features__changes {
  margin-top: 3em;
}

.features__changes__heading p {
  color: #252b46;
  font-weight: 500;
  padding: 1rem;
  border-top: 1px solid gray;
  position: relative;
  -webkit-transition: transfrom 200ms ease-in;
  transition: transfrom 200ms ease-in;
  cursor: pointer;
  -webkit-transition: color 100ms ease-in;
  transition: color 100ms ease-in;
}

.features__changes__heading p:nth-of-type(3) {
  border-bottom: 1px solid gray;
}

.features__changes__heading p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 9em;
  height: 5px;
  background: #fa5757;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.features__changes__heading p:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.features__changes__heading p:hover {
  color: #fa5757;
}

.features .features__changes__tab {
  position: relative;
}

.features .features__changes__tab .tab {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3em auto 0;
}

.features .features__changes__tab .tab img {
  max-width: 400px;
}

.features .features__changes__tab .tab__img {
  position: relative;
}

.features .features__changes__tab .tab__img::after {
  position: absolute;
  content: "";
  position: absolute;
  top: 7em;
  left: -500px;
  bottom: 0;
  width: 80vw;
  max-width: 90vmin;
  height: 25vh;
  background: #5368df;
  border-radius: 6em;
  z-index: -1000;
}

@media (max-width: 700px) {
  .features .features__changes__tab .tab__img::after {
    content: "";
    position: absolute;
    top: 5em;
    left: -150px;
    bottom: 0;
    width: 120vw;
    max-width: 93vmin;
  }
}

.features .tab__content {
  margin-top: 4em;
}

.features .tab__content p {
  margin: 0.5em 0;
}

.card__section {
  margin-top: 10em;
}

.card__section > p {
  margin-bottom: 2em;
  max-width: 512px;
  margin: auto;
}

.card__section .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}

.card__section .cards > * {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  min-width: 300px;
}

.card__section .cards .card {
  position: relative;
  max-width: 300px;
  padding: 6em 1.5em 1.5em;
  margin: auto;
  -webkit-box-shadow: 0 1px 1px -1px white, 0 10px 12px -1px #e3e4e8;
          box-shadow: 0 1px 1px -1px white, 0 10px 12px -1px #e3e4e8;
  border-radius: 20px;
}

.card__section .cards .card h3 {
  margin: 2rem 0 0.5rem;
}

.card__section .cards .card img {
  max-width: 120px;
}

.card__section .cards .card button {
  width: 100%;
  margin-top: 5em;
}

.card__section .cards .card button::before {
  display: inline-block;
  content: url("../images/bg-dots.svg");
  position: absolute;
  left: 0;
  bottom: 6.5em;
  right: 0;
}

.card__section .cards .card + .card {
  margin-top: 2em;
}

.questions {
  text-align: left;
  margin: auto;
  max-width: 550px;
}

.questions__hero {
  margin: 7em 0 3em;
  text-align: center;
}

.questions__hero h2 {
  margin-bottom: 1rem;
}

.questions details {
  padding: 1em;
  border-bottom: 1px solid #c8c9d0;
  cursor: pointer;
}

.questions details summary::-webkit-details-marker {
  display: none;
}

.questions details summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.questions details summary::marker {
  display: none;
}

.questions details summary:hover {
  color: #fa5757;
}

.questions details .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.questions details p {
  padding: 1.5rem 0 0.5rem;
  line-height: 2;
}

.questions details[open] .arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  color: #fa5757;
}

.questions button {
  display: block;
  margin: 3em auto;
}

.signup {
  background: #5368df;
  padding: 3em 0 2em;
}

.signup p,
.signup h3 {
  color: #fff;
}

.signup h3 {
  margin: 1em 0;
}

.signup p:first-child {
  text-transform: uppercase;
}

.signup .input-error {
  position: relative;
  max-width: 400px;
  margin: auto;
}

.signup .input-error .error-img {
  display: none;
  position: absolute;
  width: 20px;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.signup .input-error input[type='email'] {
  display: block;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 5px;
  z-index: 1000;
}

.signup .input-error p {
  position: absolute;
  font-size: 12px;
  text-align: left;
  padding: 5px 10px 0;
  width: 100%;
  background: #fa5757;
  display: none;
}

.signup .primaryBtn {
  width: 100%;
  background: #fa5757;
  margin: 2em auto 0;
  max-width: 400px;
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear;
  border: 2px solid transparent;
}

.signup .primaryBtn:hover {
  color: #fa5757;
  background: #ffffff;
  border: 2px solid #fa5757;
}

.footer {
  padding: 3em 0;
  background: #252b46;
  text-align: center;
}

.footer .logo img {
  width: 200px;
  margin-bottom: 2em;
}

.footer nav ul {
  list-style-type: none;
}

.footer a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer a:hover {
  color: #fa5757;
}

.footer li + li {
  margin-top: 2em;
}

.footer figure {
  margin: 3em 0 1em;
}

.footer figure img {
  width: 30px;
}

.footer figure img + img {
  margin-left: 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white;
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-blue {
  color: #3e52a3;
}

@media (min-width: 700px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__content--text {
    text-align: left;
    max-width: 430px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .hero__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .hero__image img {
    display: block;
    max-width: 600px;
    margin: 0 0 0 auto;
  }
  .hero__image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -500px;
    width: 80vw;
    max-width: 90vmin;
    height: 80%;
    background: #5368df;
    border-radius: 6em 0 0 6em;
    max-height: 400px;
    z-index: -1000;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .hero__image::after {
    width: 120vw;
  }
}

@media (min-width: 700px) {
  .hero .header__nav__list {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    background: none;
    height: unset;
  }
  .hero .header__nav__list .nav__list {
    margin: 0;
  }
  .hero .header__nav__list .nav__list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .header__nav__list .nav__list li {
    border: none;
    padding: 0;
  }
  .hero .header__nav__list .nav__list li a {
    color: #000;
  }
  .hero .header__nav__list .nav__list li + li {
    margin-left: 3vw;
  }
  .hero .header__nav__list .nav__list li:nth-child(3) {
    border: none;
  }
  .hero .header__nav__list .nav__list .social__nav {
    display: none;
  }
  .hero .header__nav__list .nav__list .login-btn {
    width: 150px;
    margin: 0;
    background: #fa5757;
    margin-left: 3vw;
  }
  .hero .ham {
    display: none;
  }
  .features__changes {
    margin-top: 0em;
  }
  .features__changes__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #9194a1;
    max-width: 700px;
    margin: auto;
  }
  .features__changes__heading p,
  .features__changes__heading p:nth-of-type(3) {
    border: none;
  }
  .features__changes__heading p + p {
    margin-left: 5vw;
  }
  .features .tab {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features .tab__content {
    margin-top: 0;
    text-align: left;
    max-width: 400px;
    margin-left: 20px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .features .tab__content p {
    margin: 0.5em 0;
  }
  .card__section .cards .card {
    width: 100%;
  }
  .card__section .cards .card:nth-child(1) {
    grid-area: one;
  }
  .card__section .cards .card:nth-child(2) {
    grid-area: two;
  }
  .card__section .cards .card:nth-child(3) {
    grid-area: three;
  }
  .signup h3 {
    font-size: 1.5rem;
    margin: 1.5rem auto;
    max-width: 350px;
  }
  .signup .form__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .signup .form__group .input-error {
    width: 300px;
  }
  .signup .form__group input {
    border: 2px solid #fff;
  }
  .signup .form__group .primaryBtn {
    margin: 0 0 0 20px;
    max-width: 300px;
  }
  .footer .logo img {
    margin-bottom: 0em;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__wrapper .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__wrapper + p {
    margin-top: 1em;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5vw;
  }
  .footer__links li + li {
    margin-top: 0em;
    margin-left: 2vw;
  }
  .footer figure {
    margin: 0;
  }
  .footer figure img {
    width: 30px;
  }
  .footer figure img + img {
    margin-left: 40px;
  }
}
/*# sourceMappingURL=style.css.map */